<% provide(:title, 'Home') %>
<div class="center hero-unit">
<h2>La organizacion de tus creditos</h2>
<h4>Mejora el manejo de tus creditos con un plan de los pagos a realizar cada mes para tus cuentas</h4>
<%= link_to "Registrate", new_user_path, class: "btn btn-large btn-primary" %>
</div>
