<div class="modal hide fade" id="signup-modal">
  <div class="modal-body signup container-fluid">
    <h1>Sign up</h1>
    <%= render 'users/form',btnAction:"Sign Up" %>
  </div>
  <div class="modal-footer">
    <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
  </div>
</div>
