<%provide(:title,"Editar")%>
<h1>Editar</h1>
<div class="span4">
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails" class='btn btn-main'>change</a>
</div>
<div class="span4">
  <%= render 'form',btnAction:"Change"%>
  <%= link_to 'Back', users_path %>
</div>
