<h1>Credit:</h1>
<div class="row">
  <%
  @amortizacion=[]
  %>
  <%=
  render @credit
  %>
</div>
<div class="row">
  <div class="col-6">
    <%= link_to 'Back to main page', current_user, class: "btn btn-main span10"%>
  </div>
</div>
