@import "bootstrap";
$lightGray: #f1f2f2;
$white: #fefefe;
$blue: #327ccb;
$yellow: #eec600;
$red: #ff5f60;


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-x: auto;
  overflow-y: scroll;
}

body {
  background-color: $white;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6, th {
  line-height: 1;
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 300;
}



h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #3f3f3f;
}

p, a, td, .btn {
  font-size: 1em;
  line-height: 1.3em;
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 300;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $blue;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $blue;
    text-decoration: none;
    background-color: $lightGray;
  }
}

.col{
  color:red;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightGray;
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


aside {
  float: left;
  section {
    padding: 10px;
    border-top: 1px solid $lightGray;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.table td{
  text-align: right;
}
.btn{
  background-image: none;
  font-weight: normal;

}
.btn-show{
  background-color: $blue;
  color: $lightGray;
}
.btn-delete{
  background-color: $red;
  color: $lightGray;
}
.btn-edit{
  background-color: $yellow;
  color: $lightGray;
}
.btn-main{
  background-color: $blue;
  color: $lightGray;
}
.btn:visited{
  color:$lightGray;
}
.navbar-inner{
  background-color: $lightGray;
  background-image: none;
}

.hero-unit{
  background-color: $lightGray;
}

.btn:hover{
  color: #222;
}

a{
  color: #555;
  &:hover {
    color: #222;
    background-color: $lightGray;
  }
}
th{
  background-color: $lightGray;
}
